@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  place-items: center;
  background: linear-gradient(to left, #9e0641, #174e36, #000000);
}
.bmi_main
{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.container_bmi {
  width: 500px;
  min-height: 420px;
  background-color: #fefefe;
  padding: 3rem;
  border-radius: 1rem;
}
.container_bmi h1 {
  letter-spacing: 1px;
  color: #15d39a;
}

.container_bmi .form-item {
  margin: 2rem 0;
}

.container_bmi .form-item label {
  font-size: 1.1rem;
  margin-right: 1rem;
}

.container_bmi .form-item input {
  width: 100px;
  height: 30px;
  border: 1px solid #777;
  border-radius: 0.3rem;
  text-align: center;
}

.container_bmi .btn {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  border: 1px solid #777;
  color: #fff;
  border-radius: 0.3rem;
}

.container_bmi .btn:hover {
  cursor: pointer;
  opacity: 0.9;
  background-color:#9e0641;
  color: white;
}

.container_bmi .licz {
  background-color: #174e36;
}

.container_bmi .reset {
  background-color: #5c6772;
}

.result {
  margin-top: 1.5rem;
}



